[submodule "Engine/Source/ThirdParty"]
	path = Engine/Source/ThirdParty/glfw/
	url = https://github.com/glfw/glfw
[submodule "Engine/Source/ThirdParty/glm"]
	path = Engine/Source/ThirdParty/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/Source/ThirdParty/glfw"]
	path = Engine/Source/ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "Engine/Source/ThirdParty/freetype"]
	path = Engine/Source/ThirdParty/freetype
	url = https://github.com/freetype/freetype
[submodule "Engine/Source/ThirdParty/lua51"]
	path = Engine/Source/ThirdParty/lua51
	url = https://github.com/DezlowNG/lua51
[submodule "Engine/Source/ThirdParty/sol2"]
	path = Engine/Source/ThirdParty/sol2
	url = https://github.com/ThePhD/sol2
